* {
   box-sizing: border-box; 
   /* border: 2px solid red; */
   background-color: #101828;
   color: whitesmoke;
   font-family:'Courier New', Courier, monospace;
}
h1 {
    text-align: center;
}

.content {
    width: 450px;
    margin: 0px auto;
}

.header-links {
    display: inline;
}

.food-photo {
    display:block;
    margin: 5px auto;
}